       target/test-classes/CW/CatYearDogYear.class
        target/test-classes/CW/ConvertNtoArrayofDigits.class
        target/test-classes/CW/FIXME.class
        target/test-classes/CW/FakeBinary.class
        target/test-classes/CW/MostAskedQuestion.class
        target/test-classes/CW/ReverseANumber.class
        target/test-classes/CW/ReversedSequence.class
        target/test-classes/CW/SortAndStar.class
        target/test-classes/CW/WolfInSheepClothes.class
        target/test-classes/CW/YouOnlyNeedOne.class

